* {
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif
}
a {
	color:#08c;
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
a:focus {
	outline:0
}
img {
	border:0
}
ul {
	list-style:none;
	margin:0;
	padding:0
}
p {
	margin:0
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
	font-weight:normal
}
.main {
	margin:0;
	padding:0;
	cursor:default;
	background-color:rgba(243, 243, 243, 0.18);
	/*-webkit-user-select:none;*/
	-webkit-font-smoothing:antialiased;
}
.header {
	width:100%;
	height:80px;
	overflow:hidden;
	background-color:#fdfdfd;
	border-bottom:1px solid #f2f2f2
}
.header .nav {
	width:80%;
	margin:0 auto;
	overflow:hidden
}
.header .nav .title {
	float:left;
	margin-right:22px
}
.header .nav .title h2 {
	line-height:80px;
	font-weight:100
}
.header .nav .title a {
	color:#333;
	font-size:34px;
}
.header .nav .title a:hover {
	text-decoration:none
}
.header .nav .links {
	float:left;
	line-height:80px
}
.header .nav .links ul li {
	float:left
}
.header .nav .links ul li a {
	color:#555;
	font-size:13px;
	display:block;
	padding:0 22px;
	margin-top:2px
}
.header .nav .links ul li a:hover {
	text-decoration:none;
	color:#333
}
.header .nav .search {
	float:right;
	line-height:80px;
	margin-right:60px
}
.header .nav .search input {
	outline:0;
	width:66px;
	color:#555;
	border:1px solid #ccc;
	padding:2px 0;
	padding-left:22px;
	border-radius:10px;
	background:url('/images/search.png') no-repeat 3px 2px;
	background-size:15px;
}
.primary {
	/*width: 80%;*/
	/*width:960px;*/
	margin:0 auto;
	margin-top:30px;
	min-height:600px;
}

.primary .content {
	width: 100%;
	margin:0 auto;
	/*width:630px;*/
	padding: 0 10px;
	border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 3px 2px rgba(200,200,200,0.25);
}

@media screen and (min-width: 317px) {
	.primary {
		/*width: 1200px;*/
	}
	.primary .content {
		width: 316px;
	}
}
@media screen and (min-width: 613px) {
	.primary {
		/*width: 1200px;*/
	}
	.primary .content {
		width: 612px;
	}
}
@media screen and (min-width: 908px) {
	.primary {
		/*width: 1200px;*/
	}
	.primary .content {
		width: 612px;
	}
}
@media screen and (min-width: 908px) {
	.primary {
		/*width: 1200px;*/
	}
	.primary .content {
		width: 612px;
	}
}
@media screen and (min-width: 1204px) {
	.primary {
		/*width: 1200px;*/
	}
	.primary .content {
		width: 1204px;
	}
}

.primary .content .title {
	padding-top:10px;
	margin-bottom:20px
}

.primary .content .title h2 {
	color:#444;
	font-size:16px;
	margin-top: 20px;
    color: #444;
    text-indent: 34px;
    font-weight: 200;
}





.page-navi{
    overflow: hidden;
    margin-bottom: 20px;
}
.page-navi ul{
	float: right;
    padding-right: 30px;
}
.page-navi li {
    float: left;
    padding: 10px;
}
.page-navi .pages span {
    padding: 4px 8px;
    border: 1px solid #eaeaea;
    border-radius: 18px;
    color: #8b8b8b;
    font-size: 12px;
}
.page-navi .current span {
    padding: 4px 8px;
    border-radius: 18px;
    background-color: #43aafa;
    color: #fff;
    font-size: 12px;
}
.page-navi li a {
    padding: 4px 8px;
    border: 1px solid #eaeaea;
    border-radius: 18px;
    color: #8b8b8b;
    font-size: 12px;
}

.primary .chart .title h1 {
	color:#222;
	font-size:16px;
	margin-bottom:20px
}
.primary .chart .list li:nth-child(3n) {
	margin-right:50px
}
.primary .chart .list li:nth-child(4n) {
	margin-right:0
}
.primary .chart .list li {
	margin-right:50px;
	margin-bottom:30px
}
.primary .chart .list li b {
	color:#555;
	width:50px;
	position:absolute;
	margin-left:-57px;
	font-size:15px;
	text-align:right;
	font-weight:normal
}
.similar .list::-webkit-scrollbar {
	height:6px
}
.similar .list:hover::-webkit-scrollbar {
	background:#fdfdfd
}
.similar .list:hover::-webkit-scrollbar-thumb {
	border-radius:10px;
	background:#888
}
#wm,#cm {
	color:#777;
	font-size:13px;
	display:none
}
.c1 {
	width:728px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:-30px
}
.clear {
	clear:both
}
.search-none {
	margin-top:120px
}
.search-none h4 {
	color:#333;
	font-size:16px;
	text-align:center
}
.footer {
	width:960px;
	height:50px;
	margin:0 auto;
	margin-top:30px;
	border-top:1px solid #f9f9f9
}
.footer ul li {
	color:#555;
	font-size:15px;
	line-height:50px
}


.primary .content .article {
    margin: 20px 30px
}

.primary .content .article h1 {
    overflow: hidden;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 200;
    font-size: 22px
}

.primary .content .article h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    color: #222;
    font-size: 14px
}
.primary .content .article .icon {
    float: left;
    margin: 10px 30px 21px 0;
    width: 200px;
    height: 290px;
    color: #555;
    font-size: 13px
}

.primary .content .article .icon img {
    width: 200px;
    height: 290px
}
.primary .content .article .title{
	padding-top: 10px;
    margin-bottom: 20px;
}
.primary .content .article .intro {
    float: left;
    margin: 10px 0;
    margin-bottom: 21px;
    /*width: 600px;*/
    /*height: 128px*/
}

.primary .content .article .title h1{
    margin-bottom: 12px;
	color: #FF35A9;
}

.primary .content .article .details {
    float: left;
    /*width: 300px;*/
    height: 290px;
    color: #797777;
}

.primary .content .article .details span{
	margin-right: 10px;
}

.primary .content .article .details span span{
	color: black;
}

.primary .content .article .details p{
	margin-top: 17px;
	font-size: 17px;
}
.primary .content .article .details p span{
	color: black;
}
.primary .content .article .download {
    float: right;
    width: 120px;
    /*height: 93px;*/
    text-align: center
}

.primary .content .article .download a {
    display: block;
    margin: 19px auto;
    margin-bottom: 10px;
    width: 80px;
    height: 24px;
    border: 1px solid #cce9ff;
    border-radius: 8px;
    color: #2e9fff;
    font-size: 13px;
    line-height: 24px;
    transition: all 200ms ease-in-out
}

.primary .content .article .download a:hover {
    border: 1px solid #2e9fff;
    background-color: #f5fdff;
    color: #2e87e7;
    text-decoration: none;
    transition: all 200ms ease-in-out
}


.primary .article .screenshot img {
    width: 580px;
    min-height: 280px
}

.product{
    position: relative;
    perspective: 800px;
    /*width:306px;*/
    width:256px;
    height:441px;
    transform-style: preserve-3d;
    transition: transform 5s;
	float:left; 
	margin: 0 20px;
	-webkit-transition: width 500ms ease-in-out;
	   -moz-transition: width 500ms ease-in-out;
		-ms-transition: width 500ms ease-in-out;
		 -o-transition: width 500ms ease-in-out;
 		    transition: width 500ms ease-in-out;
}
.product-front img{width:100%;}
.product-front, .product-back{

	/*width:315px;*/
	width:265px;
	height:430px;
	background:#fff;
	position:absolute;
	left:-5px;
	top:-5px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.product-back{
	display:none;
	transform: rotateY( 180deg );
}
.make3D.animate .product-back,
.make3D.animate .product-front,
div.large .product-back{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.make3D{
	/*width:305px;*/
	width:255px;
	height:420px;
	position:absolute;    
	top:10px;
	left:10px;	
	overflow:hidden;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(103, 103, 103, 0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(103, 103, 103, 0.2);
    box-shadow: 0px 0px 2px 1px rgba(103, 103, 103, 0.2);
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}
div.make3D.flip-10{
	 -webkit-transform: rotateY( -10deg );
         -moz-transform: rotateY( -10deg );
           -o-transform: rotateY( -10deg );
              transform: rotateY( -10deg );
			   transition:  50ms ease-out;
}
div.make3D.flip90{
	 -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );
			   transition:  100ms ease-in; 			
}
div.make3D.flip190{
	 -webkit-transform: rotateY( 190deg );
         -moz-transform: rotateY( 190deg );
           -o-transform: rotateY( 190deg );
              transform: rotateY( 190deg );
			   transition:  100ms ease-out; 			
}
div.make3D.flip180{
	 -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
			   transition:  150ms ease-out; 			
}
.make3D.animate{
	top:5px;
	left:5px;
	/*width:315px;*/
	width:265px;
	height:440px;
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
div.large .make3D{
	top:0;
	left:0;
	/*width:315px;*/
	width:265px;
	height:440px;
	-webkit-transition:  300ms ease-out; 
       -moz-transition:  300ms ease-out; 
         -o-transition:  300ms ease-out; 
            transition:  300ms ease-out; 
}
.large div.make3D{box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0);}
.large div.flip-back{display:none;}
.stats-container{
	background:#fff;	
	position:absolute;
	top:342px;
	left:0;
	/*width: 252px;*/
	width: 202px;
	height: 300px;
	padding: 24px 40px 35px 32px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.make3D.animate .stats-container{
	top:225px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size: 17px;
    color: #F9319B;
    font-weight: 700;
}
.stats-container p .tier-name{
	margin-left: 7px;
}
.stats-container p{
	font-size:15px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}
.stats-container .product_price{
	float:right;
	color:#F75F5F;
	font-size:22px;
	font-weight:600;
}
.stats-container .gold{
	color: RGB(218,175,115);
}
.stats-container .silver{
	color: RGB(233,233,216);
}
.stats-container .platinum{
	color: RGB(220,220,220);
}
.stats-container .copy-id{
    width: 13px;
    margin-left: 10px;
    cursor: pointer;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background:rgba(60, 60, 60, 0.48);
	/*background:#5ff7d2;*/
	opacity:0;	
}
.make3D.animate .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}
.battletip {
	margin-top: 7px;
	font-size: 13px;
}
.girldetail{	
	position:absolute;
	top:90px;
	left:50%;
	/*width:152px;*/
	width:102px;
	font-size:12px;
	margin-left:-52px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:500;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.girldetail:hover{	
	/*background:#fff;*/
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .girldetail{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
.view_gallery{	
	position:absolute;
	top:154px;
	left:50%;
	/*width:152px;*/
	width:102px;
	font-size:12px;
	margin-left:-52px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:500;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.view_gallery:hover{	
	/*background:#fff;*/
	color:#5ff7d2;
	cursor:pointer;

}
.make3D.animate .view_gallery{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
div.colors div{
	margin-top:3px;
	width:15px; 
	height:15px; 	
	margin-right:5px;
	float:left;
}
div.colors div span{
	width:15px; 
	height:15px; 
	display:block;
	border-radius:50%;
}
div.colors div span:hover{
	width:17px;
	height:17px;
	margin:-1px 0 0 -1px;
}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}

div.win span{background:#44c28d;}
div.lose span{background: rgba(202, 202, 202, 0.41);}

div.c-white span{
	background:#fff;
	width:14px;
	height:14px; 
	border:1px solid #e8e9eb;
}
div.shadow{
	width:335px;
	height:480px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
/*.product-back div.shadow{*/
	/*z-index:10;*/
	/*opacity:1;*/
	/*background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));*/
    /*background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); */
    /*background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); */
    /*background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); */
/*}*/
/*.flip-back{*/
	/*position:absolute;*/
	/*top:20px;*/
	/*right:20px;*/
	/*width:30px;*/
	/*height:30px;*/
	/*cursor:pointer;*/
/*}*/
/*.cx, .cy{*/
	/*background:#d2d5dc;*/
	/*position:absolute;*/
	/*width:0px;*/
	/*top:15px;*/
	/*right:15px;*/
	/*height:3px;*/
	/*-webkit-transition: all 250ms ease-in-out;*/
	   /*-moz-transition: all 250ms ease-in-out;*/
		/*-ms-transition: all 250ms ease-in-out;*/
		 /*-o-transition: all 250ms ease-in-out;*/
			/*transition: all 250ms ease-in-out;*/
/*}*/
/*.flip-back:hover .cx, .flip-back:hover .cy{*/
	/*background:#979ca7;*/
	/*-webkit-transition: all 250ms ease-in-out;*/
	   /*-moz-transition: all 250ms ease-in-out;*/
		/*-ms-transition: all 250ms ease-in-out;*/
		 /*-o-transition: all 250ms ease-in-out;*/
			/*transition: all 250ms ease-in-out;*/
/*}*/
/*.cx.s1, .cy.s1{	*/
	/*right:0;	*/
	/*width:30px;	*/
	/*-webkit-transition: all 100ms ease-out;*/
	   /*-moz-transition: all 100ms ease-out;*/
		/*-ms-transition: all 100ms ease-out;*/
		 /*-o-transition: all 100ms ease-out;*/
			/*transition: all 100ms ease-out;*/
/*}*/
/*.cy.s2{	*/
	/*-ms-transform: rotate(50deg); */
	/*-webkit-transform: rotate(50deg); */
	/*transform: rotate(50deg);		 */
	/*-webkit-transition: all 100ms ease-out;*/
	   /*-moz-transition: all 100ms ease-out;*/
		/*-ms-transition: all 100ms ease-out;*/
		 /*-o-transition: all 100ms ease-out;*/
			/*transition: all 100ms ease-out;*/
/*}*/
/*.cy.s3{	*/
	/*-ms-transform: rotate(45deg); */
	/*-webkit-transform: rotate(45deg); */
	/*transform: rotate(45deg);		 */
	/*-webkit-transition: all 100ms ease-out;*/
	   /*-moz-transition: all 100ms ease-out;*/
		/*-ms-transition: all 100ms ease-out;*/
		 /*-o-transition: all 100ms ease-out;*/
			/*transition: all 100ms ease-out;*/
/*}*/
/*.cx.s1{	*/
	/*right:0;	*/
	/*width:30px;	*/
	/*-webkit-transition: all 100ms ease-out;*/
	   /*-moz-transition: all 100ms ease-out;*/
		/*-ms-transition: all 100ms ease-out;*/
		 /*-o-transition: all 100ms ease-out;*/
			/*transition: all 100ms ease-out;*/
/*}*/
/*.cx.s2{	*/
	/*-ms-transform: rotate(140deg); */
	/*-webkit-transform: rotate(140deg); */
	/*transform: rotate(140deg);		 */
	/*-webkit-transition: all 100ms ease-out;*/
	   /*-moz-transition: all 100ms ease-out;*/
		/*-ms-transition: all 100ease-out;*/
		 /*-o-transition: all 100ms ease-out;*/
			/*transition: all 100ms ease-out;*/
/*}*/
/*.cx.s3{	*/
	/*-ms-transform: rotate(135deg); */
	/*-webkit-transform: rotate(135deg); */
	/*transform: rotate(135deg);		 */
	/*-webkit-transition: all 100ease-out;*/
	   /*-moz-transition: all 100ms ease-out;*/
		/*-ms-transition: all 100ms ease-out;*/
		 /*-o-transition: all 100ms ease-out;*/
			/*transition: all 100ms ease-out;*/
/*}*/
/*.carousel{*/
	/*width:265px;*/
	/*/!*width:315px;*!/*/
	/*height:460px;*/
	/*overflow:hidden;*/
	/*position:relative;*/
/*}*/
/*.carousel ul{*/
	/*position:absolute;*/
	/*top:0;*/
	/*left:0;*/
/*}*/
/*.carousel li{*/
	/*/!*width:315px;*!/*/
	/*width:265px;*/
	/*height:460px;*/
	/*float:left;*/
	/*overflow:hidden;	*/
/*}*/
/*.carousel img{*/
	/*margin-top: -2px;*/
	/*width: 110%;*/
/*}*/
/*.arrows-perspective{*/
	/*width:265px;*/
	/*/!*width:315px;*!/*/
	/*height:55px;*/
	/*position: absolute;*/
	/*top: 178px;*/
	/*transform-style: preserve-3d;*/
    /*transition: transform 5s;*/
	/*perspective: 335px;*/
/*}*/
/*.carouselPrev, .carouselNext{*/
	/*width: 50px;*/
	/*height: 55px;*/
	/*background: #ccc;*/
	/*position: absolute;	*/
	/*top:0;*/
	/*transition: all 200ms ease-out; */
	/*opacity:0.9;*/
	/*cursor:pointer;*/
/*}*/
/*.carouselNext{*/
	/*top:0;*/
	/*right: -26px;*/
	/*-webkit-transform: rotateY( -117deg );*/
         /*-moz-transform: rotateY( -117deg );*/
           /*-o-transform: rotateY( -117deg );*/
              /*transform: rotateY( -117deg );*/
			  /*transition: all 200ms ease-out; 			*/

/*}*/
/*.carouselNext.visible{*/
		/*right:0;*/
		/*opacity:0.8;*/
		/*background: #fff;*/
		/*-webkit-transform: rotateY( 0deg );*/
         /*-moz-transform: rotateY( 0deg );*/
           /*-o-transform: rotateY( 0deg );*/
              /*transform: rotateY( 0deg );*/
			  /*transition: all 200ms ease-out; */
/*}*/
/*.carouselPrev{		*/
	/*left:-26px;*/
	/*top:0;*/
	/*-webkit-transform: rotateY( 117deg );*/
         /*-moz-transform: rotateY( 117deg );*/
           /*-o-transform: rotateY( 117deg );*/
              /*transform: rotateY( 117deg );*/
			  /*transition: all 200ms ease-out; */

/*}*/
/*.carouselPrev.visible{*/
		/*left:0;*/
		/*opacity:0.8;*/
		/*background: #fff;*/
		/*-webkit-transform: rotateY( 0deg );*/
         /*-moz-transform: rotateY( 0deg );*/
           /*-o-transform: rotateY( 0deg );*/
              /*transform: rotateY( 0deg );*/
			  /*transition: all 200ms ease-out; */
/*}*/
/*.carousel .x, .carousel .y{*/
	/*height:2px;*/
	/*width:15px;*/
	/*background:#5ff7d2;*/
	/*position:absolute;*/
	/*top:31px;*/
	/*left:17px;*/
	/*-ms-transform: rotate(45deg); */
	/*-webkit-transform: rotate(45deg); */
	/*transform: rotate(45deg);	*/
/*}*/
/*.carousel .x{*/
	/*-ms-transform: rotate(135deg); 	*/
	/*-webkit-transform: rotate(135deg); */
	/*transform: rotate(135deg);		*/
	/*top:21px;*/
/*}*/
/*.carousel .carouselNext .x{*/
	/*-ms-transform: rotate(45deg); 	*/
	/*-webkit-transform: rotate(45deg); */
	/*transform: rotate(45deg);		*/
/*}*/
/*.carousel .carouselNext .y{*/
	/*-ms-transform: rotate(135deg); 	*/
	/*-webkit-transform: rotate(135deg); */
	/*transform: rotate(135deg);		*/
/*}*/
