<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="LOL妹纸">
    <meta name="description" content="Cocoa.La">
    <title>LoL 妹纸</title>
    <link rel="stylesheet" href="cdn/css/normalize.css">
    <link rel="stylesheet" href="cdn/css/font.css">
    <link rel="stylesheet" href="cdn/css/style.css">
    <link rel="stylesheet" href="cdn/css/hint.css">
</head>
<body class="main">
<div class="header">
    <div class="nav">
        <div class="title">
            <h2><a href="/">Find LOL Girl</a></h2>
        </div>
        <div class="links">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/genre/">分类</a></li>
                <li><a href="/chart/">排行榜</a></li>
            </ul>
        </div>
        <div class="search">
            <form action="/search/" method="get">
                <input type="text" name="q" autocomplete="off" placeholder="搜索">
            </form>
        </div>
    </div>
</div>
<div class="primary">
    <div class="article">
        <div class="icon">
            <img alt="SQLPro for MySQL" src="../statics/images/img1.jpg"/>
        </div>
        <div class="intro">
            <div class="title">
                <h1>游戏ID: <span>{{girl['nickname']}}</span></h1>
            </div>
            <div class="details">
                <span>大区: <span>{{girl['area']}}</span></span>
                <span>盒子战斗力: <span>{{girl['fighting']}}</span></span>
                <span>段位: <span>荣耀黄金</span></span>

                <p>常用英雄: <span>{{' . '.join(girl['com_hero'])}}</span></p>

                <div class="clear"></div>
            </div>
            <div class="download">
                <a rel="nofollow" href="/go/sqlpro-for-mysql/" target="_blank">盒子详情</a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="screenshot">
            <h2>屏幕截图</h2>
            <img src="cdn/images/girlpic.jpeg" alt="Screenshot"/>
        </div>
        <div class="similar" style="display: none;">
            <h2>相关推荐</h2>
            <div class="similar-c">
                <ul>
                    <li><a href="/coderunner/"><img alt="CodeRunner"
                                                    src="http://images.macapp.so/icon/coderunner@2x.png?v=2.0.3"/></a>
                        <h4><a href="/coderunner/">CodeRunner</a></h4></li>
                    <li><a href="/webcode/"><img alt="WebCode"
                                                 src="http://images.macapp.so/icon/webcode@2x.png?v=1.1.1"/></a><h4>
                        <a href="/webcode/">WebCode</a></h4></li>
                    <li><a href="/icorner-radius/"><img alt="iCorner Radius"
                                                        src="http://images.macapp.so/icon/icorner-radius@2x.png?v=1.3"/></a>
                        <h4><a href="/icorner-radius/">iCorner Radius</a></h4></li>
                    <li><a href="/ssh-tunnel/"><img alt="SSH Tunnel"
                                                    src="http://images.macapp.so/icon/ssh-tunnel@2x.png?v=15.08"/></a>
                        <h4><a href="/ssh-tunnel/">SSH Tunnel</a></h4></li>
                    <li><a href="/subethaedit/"><img alt="SubEthaEdit"
                                                     src="http://images.macapp.so/icon/subethaedit@2x.png?v=4.0.2"/></a>
                        <h4><a href="/subethaedit/">SubEthaEdit</a></h4></li>
                    <li><a href="/macaw/"><img alt="Macaw"
                                               src="http://images.macapp.so/icon/macaw@2x.png?v=1.5.15"/></a><h4><a
                            href="/macaw/">Macaw</a></h4></li>
                    <li><a href="/vssh/"><img alt="vSSH"
                                              src="http://images.macapp.so/icon/vssh@2x.png?v=1.10.2"/></a><h4><a
                            href="/vssh/">vSSH</a></h4></li>
                    <li><a href="/synalyze-it-pro/"><img alt="Synalyze It! Pro"
                                                         src="http://images.macapp.so/icon/synalyze-it-pro@2x.png?v=1.11"/></a>
                        <h4><a href="/synalyze-it-pro/">Synalyze It! Pro</a></h4></li>
                </ul>
            </div>
        </div>
        <div class="comment">

        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="footer">
    <ul>
        <li>&copy 2015 Cocoa.La</li>
    </ul>
</div>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src='cdn/js/stopExecutionOnTimeout.js?t=1'></script>
<script src="cdn/js/layzr.min.js"></script>
<script src="cdn/js/ZeroClipboard.min.js"></script>
<script type="text/javascript" src="cdn/js/main.js"></script>

<script>
    var layzr = new Layzr({
        selector: '[data-layzr]',
        attr: 'data-layzr',
        retinaAttr: 'data-layzr-retina',
        threshold: 50,
        callback: null
    });

    var client = new ZeroClipboard($('.copy-id'));

    client.on("ready", function (readyEvent) {
        // alert( "ZeroClipboard SWF is ready!" );

        client.on("aftercopy", function (event) {
            // `this` === `client`
            // `event.target` === the element that was clicked
            alert("Copied text to clipboard: " + event.data["text/plain"]);
        });
    });
    imgindex = parseInt(Math.random() * 100) + 1;
    $('.article .icon img').attr('src', 'cdn/images/img' + imgindex + '.jpg');
</script>
</body>
</html>